*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    width: 100%;
    height: 100vh;

    background-color: #181818;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px; 
}

#container input{
    padding: 10px;
    border-radius: 20px;
    border: 0;
    outline: 0;
}

input[type="text"]{
    width: 250px;
}

#container button{
    padding: 10px;
    border-radius: 20px;
    border: 0;

    width: 200px;
    cursor: pointer;
    background-color: #7365af;
    color: #fff;
}

#container ul{
    color: #ffffff;   
    text-align: left;
    list-style: none;

    height: 190px;
    padding: 25px;
    border-radius: 10px;
    min-width: 450px;
    max-width: 700px;
    overflow-y: auto;
}

#container li{
    word-wrap: break-word;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container li strong{
    flex: 2;
}

#container li a:hover{
    transform: scale(1.1);
}

#container ul a{
    margin-left: 10px;
    text-decoration: none;
}

#area-tarefas{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;   
    align-items: center; 

    gap: 10px;
}

.titulo-lista{
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
}

#lista-hoje{
    background-color: #c2ac6f73;
}

#lista-semana{
    background-color: rgba(42, 146, 129, 0.568);
}

#lista-mais-semana{
    background-color: rgba(115, 221, 138, 0.568);
}


@media(max-width: 750px){
    #area-tarefas{
        flex-direction: column;
        margin-top: 0;
    }

    #container ul{
        min-width: 400px;
    }
}

@media(max-width:400px){
    input[type="text"]{
        width: 100px;
    }

    #container ul{
        min-width: 250px;
        max-width: 250px;
    }
}