*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    width: 100%;
    height: 100vh;

    background-color: #181818;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px; 
}

#container input{
    padding: 10px;
    border-radius: 20px;
    border: 0;
    outline: 0;
}

input[type="text"]{
    width: 250px;
}

#container button{
    padding: 10px;
    border-radius: 20px;
    border: 0;

    width: 200px;
    cursor: pointer;
    background-color: #7365af;
    color: #fff;
}

#container ul{
    color: #ffffff;   
    text-align: right;
    list-style: none;
}

#container li{
    word-wrap: break-word;
}

#container ul a{
    margin-left: 10px;
    text-decoration: none;
}

#area-tarefas{
    width: 100%;
    display: flex;
    justify-content: space-around;    
    margin-top: 100px;
}

span{
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
}

.area-tarefa{
    height: 400px;
    padding: 25px;
    border-radius: 10px;
    min-width: 200px;
    max-width: 400px;
}

#lista-hoje{
    background-color: #c2ac6f73;
}

#lista-semana{
    background-color: rgba(42, 146, 129, 0.568);
}

#lista-mais-semana{
    background-color: rgba(115, 221, 138, 0.568);
}
